<html>
  <body>
    <h1>Mr. McButton</h1>
    <h4>Welcome to your button homepage. This is where you will see everything about your button.<h4>
    <br>
    <p>Currently your button is preloaded with two .wav files. In order to add more, please contact Josh.</p>
    <p>Think of something you want that you don't have? Contact Josh again. If you want more features, something goes wrong, or you just want to do anything about the button, contact Josh. Yep. That's all there is to it.</p>
    <br><br><br><br>
    <h2>Button made with love by Josh</h2>
    <h6>Button v0.12</h6>
  </body>
</html>
